[submodule "aoKicad"]
	path = aoKicad
	url = git@github.com:holmesrichards/aoKicad.git
[submodule "Kosmo_panel"]
	path = Kosmo_panel
	url = git@github.com:holmesrichards/Kosmo_panel.git
[submodule "Libraries/aoKicad"]
	path = Libraries/aoKicad
	url = git@github.com:holmesrichards/aoKicad.git
[submodule "Libraries/Kosmo_panel"]
	path = Libraries/Kosmo_panel
	url = git@github.com:holmesrichards/Kosmo_panel.git
