<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
<TITLE>100mm Kosmo Format Front Panel</TITLE>
</HEAD>
<BODY LANG="en">
<h1>Kosmo</h1>
<h2>100mm Front Panel</h2>

<P>This project template is the basis of an 100mm front panel PCB in the Kosmo format 
(<A HREF="https://lookmumnocomputer.com/" TARGET="blank">LMNC</A>)
, for more info, see 
<A HREF="https://lookmumnocomputer.discourse.group/t/kosmo-specification/" TARGET="blank">the spec thread</A></P>
<P>Board Dimensions: 200mm x 100mm (1 unit)</P>

<P>The board outline looks like the following:</P>

<p><img src="brd.png"></p>
</BODY>
</HTML>
